<!-- TEMPLATE INHERITANCE 2 -->

{% extends "base.html" %} {% block head %} {{ super() }}

<style></style>

{% endblock %} {% block content %}

<div class="container-fluid text-left">
  <!--Redak 1-->
  <div class="row">
    <div class="col-md-2 sidenav"></div>
    <div class="col-md-8 text-center">
      <!--<a href="{{ link1 }}" class="btn btn-primary btn-lg" role="button" style="width: 300px" aria-disabled="true">
        {{ subject1 }}</a>-->
    </div>
    <div class="col-md-2 sidenav"></div>
  </div>
  <!--Redak 2-->
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>{{ title }}</h1>
      <br />
    </div>
  </div>
  <!--Redak 3-->
  <div class="row">

    <!--Stupac 1-->
    <div class="col-md-2 sidenav"></div>
    <!--Stupac 1-->

    <!--Stupac 2-->
    <div class="col-md-8 text-left">

      <br>

      <h2>{{ title1 }}</h2>

      <br>

      <!--Tablica 1-->
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th style="width: 5%">Redni broj</th>
            <th>Naziv</th>
            <th>Nastavna cjelina</th>
          </tr>
        </thead>
        <tbody>
          {% for item in gornja_tablica %}
          <tr>
            <td>{{ item.redni_broj }}</td>
            <td><a href="{{ var }}{{ item.link }}" target="_blank">{{ item.naziv }}</a></td>
            <td>{{ item.cjelina }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <!--Tablica 1-->    

      <br>

      {% if not donja_tablica %}
      <div></div> 
      {% else %}
      <h2>{{ title2 }}</h2>

      <br>

      <!--Tablica 2-->      
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Naziv</th>
          </tr>
        </thead>
        <tbody>          
          {% for name, link in donja_tablica.items() %}
          <tr>
            <td><a href="{{ var }}{{ link }}" target="_blank">{{ name }}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
      <!--Tablica 2-->

    </div>
    <!--Stupac 2-->

    <!--Stupac 3-->
    <div class="col-md-2 sidenav"></div>
    <!--Stupac 3-->
  </div>
</div>

{% endblock %}